html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  color: #333
}